{% extends "layout.html" %}

{% block page_title %}{% endblock %}

{% block content %}
    <div class="container">
        <form action="{% block link %}{% endblock %}" method="post">

            <label class="labels" for="comment" name="comment">Comment:</label><br>
            <div class="textarea_style">
                <textarea class="textarea" name="comment" id="comment" cols="30" rows="6">{% block comment %}{% endblock %}</textarea><br>
            </div><br>
            <br>
            <button type="submit">Comment</button>
        </form>
    </div>

{% endblock %}