{% extends "layout.html" %}

{% block page_title %}
    Question
{% endblock %}

{% block content %}
    <div class="container">
    <h1>{% block h1 %}{% endblock %}</h1>

    <form action="{% block link %}{% endblock %}" method="post" enctype="multipart/form-data">

    {% block question_title_input %}

            <label for="title_input" name="title" class="label_name">
                <span class="title_name">Question Title</span>
            </label><br>
            <input type="text" value="{% block question_title %}{% endblock %}" placeholder="Question title" name="title" id="title_input">
            <br>
            <br>

    {% endblock %}

            <label for="question_input" name="message">Question:</label><br>
            <textarea name="message" id="question_input" cols="30" rows="6" class="textarea_question" placeholder="Add your question here..." >{% block question_text%}{% endblock %}</textarea><br>
            <br>

            <label for="file">Upload image</label><br>
            <br>
            <input type="file" name="image" class="form-control"><br>
            <br>
        <input type="submit" value="{% block button_name %}{% endblock %}">

    </form>
    </div>>
{% endblock %}