<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>{% block h1 %}{% endblock %}</h1>
    
    <form action="{% block link %}{% endblock %}" method="post">
        
        <label for="title_input" name="title">Question Title</label><br>
        <textarea name="title" id="title_input" cols="15" rows="1">{% block question_title %}{% endblock %}</textarea><br>
        <br>

        <label for="question_input" name="message">Question:</label><br>
        <textarea name="message" id="question_input" cols="30" rows="6">{% block question_text%}{% endblock %}</textarea><br>
        <br>

        <label for="file">Upload image</label><br>
        <input type="file" name="image" class="form-control"><br>
        <br>

        <button type="submit">{% block button_name %}{% endblock %}</button>

    </form>
</body>
</html>