<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/practice.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/bonusQuestions.js') }}" defer></script>

    </head>
    <body>
        <h1>AskMate</h1>
        <h2>All Questions:</h2>
        <button onclick="darkTheme()">Change Theme to Dark</button>
        <button id="increase-font-button">Increase page font</button>
        <button id="decrease-font-button">Decrease page font</button>
        <button onclick="myFunction()">Hide Questions</button>



         <div id="myDIV">
            <input
                    data-table-body="doNotModifyThisId_QuestionsTableBody"
                    style="width: 500px" id="doNotModifyThisId_QuestionsFilter"
                    type="text"
                    placeholder="filter questions by keywords">
            <form id="search-question">
                <input type="text" placeholder="Search questions..." />
            </form>
            <input type="button" value="Decrease Font Size 1px" onclick="decrease()">
            <input type="button" value="Increase Font Size 1px" onclick="increase()">
            <table id="sortMe" class="table">
                <thead id="doNotModifyThisId_QuestionsTableHeader">

                    <tr>

                        <th><button class="table__header">Title</button></th>
                        <th><button class="table__header">Description</button></th>
                        <th data-type="number"><button class="table__header">Vote Count</button></th>
                        <th data-type="number"><button class="table__header">View Number</button></th>
                    </tr>
                </thead>
                <tbody id="doNotModifyThisId_QuestionsTableBody">
                        {% for question in questions %}
                                <tr>
                                    <td class="row">{{ question['title'] }}</td>
                                    <td class="row">{{ question['description'] }}</td>
                                    <td class="row">{{ question['vote_number'] }}</td>
                                    <td class="row">{{ question['view_number'] }}</td>
                                </tr>
                        {% endfor %}
                </tbody>
            </table>

    </body>
</html>