{% extends 'layout.html' %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/practice.css') }}">

    </head>
    {% block content %}
        <br>
        <br>
        <br>
        <input id="decrease" type="button" value="Decrease Font Size 1px">
        <input id="increase" type="button" value="Increase Font Size 1px" >
        <button onclick="myFunctionHide()">Hide Questions</button><br>
        <input style="width: 500px" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search in description..."><br>


         <div id="myDIV">

            <table id="sortMe" class="table">
                <thead id="doNotModifyThisId_QuestionsTableHeader">

                    <tr>

                        <th><button class="table__header">Title</button></th>
                        <th><button class="table__header">Description</button></th>
                        <th data-type="number"><button class="table__header">Vote Count</button></th>
                        <th data-type="number"><button class="table__header">View Number</button></th>
                    </tr>
                </thead>
                <tbody id="doNotModifyThisId_QuestionsTableBody">

                        {% for question in questions %}
                                <tr class="header">
                                    <td class="row">{{ question['title'] }}</td>
                                    <td class="row">{{ question['description'] }}</td>
                                    <td class="row">{{ question['vote_number'] }}</td>
                                    <td class="row">{{ question['view_number'] }}</td>
                                </tr>
                        {% endfor %}
                </tbody>
            </table>

    {% endblock %}
