{% extends "layout.html" %}

{% block page_title %}
    Main page
{% endblock %}


{% block content %}

    <form action="/registration">
        <button type="submit" class="button1">Registration</button>
    </form><br><br>

    {% if 'email' in session %}
        <form action="/add_question">
            <button type="submit" class="button1">Add new question</button>
        </form>
    {% endif %}

    <form action="/search" class="form1">
        <label for="sequence">Search in questions</label><br>
        <textarea name="sequence" id="sequence" cols="30" rows="1"></textarea><br>
        <button type="submit">Search:</button>
    </form>

    <a href="/list" class="list">List all questions</a>

    <div class="sort">
        <form action="/list" method="get" enctype="text/plain">
            <label for="order_by">Sort questions by:</label>
            <select name="order_by" id="order_by">
                <option value="title">Title</option>
                <option value="submission_time">Time</option>
                <option value="message">Message</option>
                <option value="view_number">Number of view</option>
                <option value="vote_number">Number of votes</option>
            </select>
            <select name="order_direction" id="order_direction">
                <label for="order_direction">Order:</label>
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
            </select>
            <button type="submit">Sort questions</button>
        </form>
    </div><br>
    <br>
    <br>
    <br>
    {% if questions %}
    {% for question in questions %}
        <table class="table1">
            <tr>
                <td class="td_number">{{ question["view_number"] }}</td>
                <td class="td_number">{{ question["vote_number"] }}</td>
                <td class="td_title"><a href="{{ url_for("increase_view", question_id=question["id"]) }}">{{ question["title"] }}</a></td>
            </tr>
            <tr>
                <td class="td_number">Views</td>
                <td class="td_number">Votes</td>
                <td class="td_date">Date: {{ question["submission_time"] }} Added by: {{ question['email'] }}</td>
            </tr>

        </table>
    {% endfor %}
    {% endif %}
{% endblock %}