{% extends "layout.html" %}

{% block page_title %}
    Main page
{% endblock %}


{% block content %}

    <form action="/add_question">
        <button type="submit">Add new question</button>
    </form>
    <br>
    
    <form action="/list" method="get" enctype="text/plain">
        <label for="order_by">Sort questions by:</label>
        <select name="order_by" id="order_by">
            <option value="title">Title</option>
            <option value="submission_time">Time</option>
            <option value="message">Message</option>
            <option value="view_number">Number of view</option>
            <option value="vote_number">Number of votes</option>
        </select>

        <select name="order_direction" id="order_direction">
            <label for="order_direction">Order:</label>
            <option value="ASC">ASC</option>
            <option value="DESC">DESC</option>
        </select>
        <button type="submit">Sort questions</button>
    </form>
    <br>
    <table width="100%">
        <th width="20px">ID</th>
        <th width="120px">Submission Time</th>
        <th width="100px">View number</th>
        <th width="100px">Vote number</th>
        <th width="10%">Title</th>
        <th>Message</th>
        <th>Image</th>

        {% for question in questions %}
            <tr>
                {% for key, value in question.items() %}
                    <td>
                        {% if key == "title" %}
                            <a href="{{ url_for("display_question", question_id=question["id"]) }}">{{ value }}</a>
                        {% elif key == "image" %}
                            {% if value %}
                                <img src="{{ url_for('static', filename=value) }}" alt="{{ value }}" style="width: 150px">
                            {% endif %}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}