<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bonusQuestions.js') }}" defer></script>
</head>
<body>
    <header>
        <nav>
            <a href="/">AskMate</a>
        </nav>
    </header>

    <div class="login_container">
        {% if 'email' in session %}
            <a href="{{ url_for('logout') }}">Log out</a>
        {% else %}
            <a href="{{ url_for('login_page') }}">Login</a>
        {% endif %}
    </div>

    <section>
        {% block content %}{% endblock %}
    </section>
</body>
</html>