{% extends 'layout.html' %}
{% block title %}
    Login Page
{% endblock %}
{% block content %}
    <div class="container">
    <form action="{{ url_for('login_page') }}" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" required placeholder="Enter email">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required placeholder="Password">
        <input type="checkbox" onclick="show_password()">Show Password
        <p>If you don't have an account, click <a href="/registration">here</a></p>
        <input type="submit" value="LOG IN">
    </form>
    </div>

    <script>
        function show_password() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

{% endblock %}