{% extends "layout.html" %}

{% block page_title %}
    Question
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>

        <table class="table2">
            <tr>
                <td class="td_title2">{{ question["title"] }}</td>
            </tr>
            <tr>
                <td class="td_date">Asked: {{ question["submission_time"] }}</td>
                <td class="td_view">Viewed: {{ question["view_number"] }} times</td>
            </tr>
            <tr>
                <br>
            </tr>
        </table>
    <br>

    <table class="table3">
        <tr>
            <td>{{ question["message"] }}</td>
        </tr>
        {% if question["image"] %}
            <tr>
                <td class="td-center"><img src="{{ url_for('static', filename=question["image"]) }}" alt="{{ question["image"] }}" style="width: 150px"></td>
            </tr>
        {%  endif %}

    </table>
    <br>
    <table class="table4">
        <tr>
            <td>
                <form action='{{ url_for("question_vote_down", question_id=question["id"]) }}' method = 'GET' >
                    <button type="submit"> vote down </button>
                </form>
            </td>
            <td class="td-center">
                Votes: {{ question['vote_number'] }}
            </td>
            <td class="td-right">
                <form action='{{ url_for("question_vote_up", question_id=question["id"]) }}' method = 'GET' >
                    <button type="submit"> vote up </button>
                </form>
            </td>
        </tr>
        <tr>
            <td><a href="{{ url_for('add_question_comment', question_id=question['id']) }}">Add new comment</a></td>
            <td class="td-center"><a href="{{ url_for('edit_question', question_id=question['id']) }}">Edit question</a></td>
            <td class="td-right"><a href="{{ url_for('delete_question', question_id=question['id']) }}">DELETE THIS QUESTION</a></td>
        </tr>
    </table>
    <table class="table5">
        <tr>
            <td>Comments:</td>
        </tr>
        {% for comment in comments %}
                {% if comment["question_id"] == question["id"] %}
                    <tr>
                        <td class="td-tab"></td>
                        <td>{{ comment["message"] }}</td>
                    </tr>
                    <tr>
                        <td class="td-tab"></td>
                        <td class="td-comment">Added: {{ comment["submission_time"] }}</td>
                        <td class="td-right-bottom-border">Edited {{ comment["edited_count"] }} times.</td>
                        <td class="td-right-bottom-border"><a href="{{ url_for('edit_comment', comment_id=comment['id'], question_id=question['id']) }}"> Edit comment</a></td>
                        <td class="td-right-bottom-border"><a href="{{ url_for('delete_comment', comment_id=comment['id'], question_id=question['id']) }}">Delete comment</a></td>
                    </tr>
                {% endif %}
        {% endfor %}
    </table>
    <table class="table3">
    <tr>
        <td>
            <h3>Answers:</h3>
        </td>
    </tr>
    </table>
    {% for answer in answers %}
        <table class="table3">
        <tr>
                <td>{{ answer["message"] }}</td>
            </tr>
            {% if answer["image"] %}
                <tr>
                    <td class="td-center"><img src="{{ url_for('static', filename=answer['image']) }}" alt="{{ answer['image'] }}" style='width: 150px'></td>
                </tr>
            {% endif %}
            <tr>
                <td>Date {{ answer["submission_time"] }} Added by: {{ answer['email'] }}</td>
            </tr>
        </table>
        <table class="table3">
            <tr>
                <td>
                     <form action='{{ url_for("answer_vote_down", answer_id=answer["id"], question_id=question['id']) }}' method = 'GET' >
                        <button type="submit"> vote down </button>
                    </form>
                </td>
                <td class="td-center">Votes: {{ answer["vote_number"] }}</td>
                <td class="td-right">
                    <form action='{{ url_for("answer_vote_up", answer_id=answer["id"], question_id=question['id']) }}' method = 'GET' >
                        <button type="submit"> vote up </button>
                    </form>
                </td>
            </tr>
            <tr>
                <td><a href="{{ url_for('edit_answer', answer_id=answer['id'], question_id=question['id']) }}">Edit answer</a></td>
                <td class="td-center"><a href="{{ url_for('delete_answer', answer_id=answer['id'], question_id=answer['question_id']) }}">Delete answer</a></td>
                <td class="td-right"><a href="{{ url_for('add_answer_comment', answer_id=answer['id'], question_id=question['id']) }}">Add answer comment</a></td>
            </tr>
        </table>

        {% for comment in comments %}
            <table class="table3">
                {% if comment["answer_id"] == answer['id'] %}
                        <tr>
                            <td class="td-tab"></td>
                            <td>{{ comment["message"] }}</td>
                        </tr>
                        <tr>
                            <td class="td-tab"></td>
                            <td class="td-comment">Added: {{ comment["submission_time"] }}</td>
                            <td class="td-right-bottom-border">Edited {{ comment["edited_count"] }} times.</td>
                            <td class="td-right-bottom-border"><a href="{{ url_for('edit_comment', comment_id=comment['id'], question_id=question['id']) }}"> Edit comment</a></td>
                            <td class="td-right-bottom-border"><a href="{{ url_for('delete_comment', comment_id=comment['id'], question_id=question['id']) }}">Delete comment</a></td>
                        </tr>
                    {% endif %}
            </table>
        {% endfor %}
        <table class="table5">
            <tr>
                <td></td>
            </tr>
        </table>
    {% endfor %}
    <br>

<div class="form">
    <form action='{{ url_for("add_new_answer", question_id=question["id"]) }}' method='POST' enctype='multipart/form-data'>

        <label for='message-input' > Add new answer: </label><br>
        <textarea name='message' id='message-input' cols='30' rows='6' ></textarea><br>
        <br>
        <div class="custom-file">
            <label for="file">Upload image</label><br>
            <input type="file" name="image" class="form-control"><br>
            <br>
        </div>>

        <button tpye='submit' > Add new answer </button>
    </form>
</div>
    <br>
    <br>
{% endblock %}