{% extends "layout.html" %}

{% block page_title %}
    Question
{% endblock %}

{% block content %}

    <h1>Question:</h1>
    <table>
        <tr>
            <td>
                Question title
            </td>
            <td>
                {{ question['title'] }}
            </td>
         </tr>

         <tr>
             <td>
                Message
             </td>
             <td>
                {{ question['message'] }}
             </td>
         </tr>

    </table>
    <form action='{{ url_for("question_vote_up", question_id=question["id"]) }}' method = 'GET' >
        <button type="submit"> vote up </button>
    </form>
    <p> Question vote number: {{ question['vote_number'] }} </p>
    <form action='{{ url_for("question_vote_down", question_id=question["id"]) }}' method = 'GET' >
        <button type="submit"> vote down </button>
    </form>
    <br>
    <a href="{{ url_for('add_question_comment', question_id=question['id']) }}">Add new comment</a><br>
    <br>
    <a href="/list">Back to the homepage</a><br>
    <br>
    <a href="{{ url_for('edit_question', question_id=question['id']) }}">Edit question</a><br>
    <br>
    <a href="{{ url_for('delete_question', question_id=question['id']) }}">DELETE THIS QUESTION</a>
    <br>
    {% if comments %}
        <h2>Question comments:</h2>

        <table>
            <th>Submission time</th>
            <th>Message</th>
            <th>Edit counts</th>

            {% for comment in comments %}
                {% if comment["question_id"] == question["id"] %}
                    <tr>
                        <td>{{ comment["submission_time"] }}</td>
                        <td>{{ comment["message"] }}</td>
                        <td>{{ comment["edited_count"] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
    <h2>Answers:</h2>

    <table>
        <th>ID</th>
        <th>Submission time</th>
        <th>Vote number</th>
        <th>Message</th>
        <th>Image</th>
        <th>Vote up </th>
        <th>Vote down </th>
        <th>Delete answer link</th>

        {% for answer in answers %}
            <tr>
                {% for key,value in answer.items() %}
                    <td>
                        {% if key == 'image' %}
                            {% if value %}
                                <img src="{{ url_for('static', filename=value) }}" alt="{{ value }}" style='width: 150px'>
                            {% endif %}
                        {% elif key != 'question_id' %}
                            {{ value }}
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                    <form action='{{ url_for("answer_vote_up", answer_id=answer["id"]) }}' method = 'GET' >
                        <button type="submit"> vote up </button>
                    </form>
                </td>
                <td>
                    <form action='{{ url_for("answer_vote_down", answer_id=answer["id"]) }}' method = 'GET' >
                        <button type="submit"> vote down </button>
                    </form>
                </td>
                <td><a href="{{ url_for('delete_answer', answer_id=answer['id']) }}" method="GET">Delete answer</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <form action='{{ url_for("add_new_answer", question_id=question["id"]) }}' method='POST' enctype='multipart/form-data'>

        <label for='message-input' > Add new answer: </label><br>
        <textarea name='message' id='message-input' cols='30' rows='6' >  </textarea><br>
        <br>
        <div class="custom-file">
            <label for="file">Upload image</label><br>
            <input type="file" name="image" class="form-control"><br>
            <br>
        </div>>

        <button tpye='submit' > Add new answer </button>
    </form>

{% endblock %}