{% extends 'layout.html' %}
{% block title %}
    Registration Page
{% endblock %}
{% block content %}

    <br><br><br>

    <div class="container">
    <form action="registration" method="post">

        <h1>Register</h1>
        <p>Fill out this form to register!</p>

        <label for="email"></label>
        <input type="email" name="email" id="email" required placeholder="Enter email"><br><br>

        <label for="password"></label>
        <input type="password" name="password" id="password" required placeholder="Password"><br><br>

        <input type="submit" value="Register">

    </form>
    </div>

{% endblock %}
