{% extends "layout.html" %}

{% block page_title %}
            {{ user_data['email'] }}
{% endblock %}

{% block content %}
    <table>
        <tr>
        <th>User ID</th><th>User e-mail</th><th>Reg.date</th><th>No. of asked questions</th>
            <th>No. of answers</th><th>No. of comments</th><th>Reputation</th>
        </tr>
        <tr>
            <td>{{ user_data['id'] }}</td>
            <td><a href="{{ url_for('get_user_page', user_id=user['user_id']) }}">{{ user_data['email'] }}</a></td>
            <td>{{ user_data['submission_time'] }}</td>
            <td>{{ number_of_related_questions }}</td>
            <td>{{ number_of_related_answers }}</td>
            <td>{{ number_of_related_comments }}</td>
            <td>{{ user_data['reputation'] }}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Submission time</th><th>View number</th><th>Vote number</th><th>Title</th>
            <th>Question</th><th>Image</th>
        </tr>
        {% for question in related_questions %}
        <tr>
            <td>{{ question['submission_time'] }}</td><td>{{ question['view_number'] }}</td>
            <td>{{ question['vote_number'] }}</td><td>{{ question['title'] }}</td>
            <td></td>{{ question['message'] }}<td>{{ question['image'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
             <th>Submission time</th><th>Vote number</th><th>Answer</th><th>Image</th>
             <th>Accepted</th>
        </tr>
        {% for answer in related_answers %}
        <tr>
            <td>{{ answer['submission_time'] }}</td><td>{{ answer['vote_number'] }}</td>
            <td>{{ answer['message'] }}</td><td>{{ answer['image'] }}</td>
            <td>
                {% if answer['accepted'] %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <th>Comment</th><th>Submission time</th><th>Edited(times)</th>
        </tr>
        {% for comment in related_comments %}
        <tr>
            <td>{{ comment['message'] }}</td><td>{{ comment['submission_time'] }}</td>
            <td>{{ comment['edited_count'] }}</td>
        </tr>

    </table>

{% endblock %}